@model AddRoomViewModel
@{
}

<div class="card">
    <div class="card-header">Add Room</div>
    <div class="card-body" id="person-form">


        <form id="addRoomForm" asp-action="AddRoom" asp-controller="Room" method="post">
            <div class="form-group">
                <label>Name</label><br />
                <input asp-for="Room.Name" value="" />
            </div>

            <button type="submit" class="btn btn-secondary">Submit</button>

        </form>
    </div>
</div>
